[submodule "engine-js"]
	path = engine-js
	url = https://github.com/Blackprint/engine-js.git
[submodule "editor"]
	path = editor
	url = https://github.com/Blackprint/blackprint.github.io
[submodule "remote-control"]
	path = remote-control
	url = https://github.com/Blackprint/remote-control
[submodule "code-generation"]
	path = code-generation
	url = ./code-generation/
