[submodule "nodes"]
	path = nodes
	url = https://github.com/Blackprint/nodes
[submodule "example"]
	path = example
	url = https://github.com/Blackprint/blackprint.github.io
[submodule "engine-js"]
	path = engine-js
	url = https://github.com/Blackprint/engine-js.git
