/vendor/
node_modules/
*.log
/package-lock.json
/.phpintel/
/engine/
/zef/
/dist/blackprint.*
/dist/engine.*
/dist/skeleton.*
/dist/code-generation.*
/dist/nodes-*
/dist/remote-*
/parser/
/cli-tools/
/templates/
/chrome-extension/
# /nodes/
workspace.code-workspace
/private-editor/
dist/test.js
