sf-space[blackprint]{
	position: absolute;
	&, .nodes, .cables{
		height: 100%;
		width: 100%;
		display: block;
	}

	@mixin portType($type, $color) {
		.cables > svg > g.#{$type} {
			circle{fill: #{$color}}
			path{stroke: #{$color}}
		}

		.nodes .node .ports.#{$type} > .port {
			background: #{$color};
		}
	}

	@include portType("Number", deepskyblue);
	@include portType("Object", mediumpurple);
	@include portType("Boolean", #ff3636);
	@include portType("String", white);

	sf-m[name="container"]{
		transform-origin: top left;
	}

	.cables{
		position: absolute;
		> svg{
			// Apply only on direct child of .cables
			filter: drop-shadow(0 0 2px black);
			backface-visibility: hidden;
			height: 100%;
		    width: 100%;

		    path, circle{
		    	transition: 0.1s ease-in;
		    	transition-property: stroke, fill;
		    }

		    circle{
		    	r: 5;
		    	fill: orange;
		    }

		    path{
		    	stroke: orange;
		    	stroke-width: 3;
		    	fill: none;
		    }

			g.invalid{
				circle{fill: red !important; opacity: 0.6;}
				path{stroke: red !important; opacity: 0.6;}
			}

		    g:hover{
		    	circle{fill: white !important;}
		    	path{stroke: white !important;}
		    }
		}
	}

	.nodes{
		position: unset;
		.node{
			color: white;
			font-family: Arial;
			border-radius: 5px;
			overflow: hidden;
			border: 1px solid black;
			box-shadow: 0 0 5px black;
			position: absolute;
			background: rgba(0,0,0,0.7);
			backface-visibility: hidden;

			.header{
				display: block;
				text-align: left;
				padding: 2px 2px 2px 8px;
				box-shadow: inset 0 0 3px cadetblue;
				background-image: -webkit-gradient(
					linear, left top, right bottom, from(rgba(41,184,229,0.7)),
					to(rgba(41,184,229,0.2)), color-stop(.8,rgba(32,124,229,0.1))
				);

				.description{
					font-size: 12px;
					color: darkgray;
					padding-right: 5px;
					font-style: italic;
				}
			}

			.content{
				display: flow-root;
				margin-top: 2px;
			}

			.ports{
				.port{
					z-index: 200;
					background: white;
					height: 10px;
					width: 10px;
					border-radius: 100px;
					border: 1px solid black;
					box-shadow: 0 0 5px black;

					&.event{
						border-radius: 2px;
						transform: rotate(45deg) skew(10deg, 10deg);
					}
				}

				&.Function{
					height: 20px;
					.name{
						line-height: 20px;
					}
					.port{
						background: url('/assets/img/icon/exec-flow.png?4');
						background-size: 20px;
						width: 20px;
						box-shadow: none;
						height: 20px;
						border: none;
					}
				}
			}

			.output, .input{
				margin-top: 1px;

				// > = direct child
				.ports > div {
					display: inline-block;
				}
			}

			.left-port{
				float: left;
			}
			.right-port{
			    float: right;
			    text-align: right;
			    margin-left: 20px;
			}

			.output{
				margin-right: 5px;
				.name{
					text-align: right;
				}

				.Function .port{
					float: right;
					margin-left: 2px;
					margin-right: -5px;
				}
			}

			.input{
				padding-right: 20px;
				margin-left: 5px;

				.Function .port{
					float: left;
					margin-left: -2px;
					margin-right: 4px;
				}
			}

			.property{
				display: flex;
				justify-content: center;
				margin-top: 5px;
				margin-bottom: 5px;
				.ports{
					margin-right: 8px;
					margin-left: 8px;
					.port{
						margin: 0 auto;
					}
				}
			}
		}
	}
}