.bp-dropdown-menu {
	margin-top: 7px;
	background-color: rgba(255, 255, 255, 0.96);
	box-shadow: 1px 1px 11px 3px black;
    border: inherit;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    border-radius: 3px;

	li {
		vertical-align: baseline;
		display: inherit !important;
		padding: 3px 8px;

		&:hover{
			background: lightgray;
		}
	}
	a {
		cursor: pointer;
	}
}